trained_models/transformer/greetings_classification/SignTransformer_best.pt filter=lfs diff=lfs merge=lfs -text
trained_models/transformer/greetings_ctc_v2/SignTransformerCtc_best.pt filter=lfs diff=lfs merge=lfs -text
trained_models/iv3_gru/greetings_classification/InceptionV3GRU_best.pt filter=lfs diff=lfs merge=lfs -text
trained_models/iv3_gru/greetings_ctc_v2/InceptionV3GRUCtc_best.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mediapipe_gru/greetings_classification/MediaPipeGRU_best.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mediapipe_gru/greetings_ctc_v4/MediaPipeGRUCtc_best.pt filter=lfs diff=lfs merge=lfs -text
