# Python
__pycache__/
*.pyc
.venv/
env/
raw/

# User Specific Folders
venv311/
venv/
raw/

# Data (ignore everything inside data/)
data/*

# But allow tracking of data/splitting/
!data/splitting/
!data/splitting/**

# Other Data Formats
*.npy
*.csv
*.mp4
*.avi
*.mov
*.npz
*.parquet

# Checkpoints
*.pt
*.pth

# Allow shared/ to be tracked despite global ignores
!shared/
!shared/**
