# Python
__pycache__/
*.pyc
.venv/
env/
raw/

# User Specific Folders
venv311/
venv/
raw/

# Data (ignore everything inside data/)
data/*

# Allow tracking in data
!data/splitting/
!data/splitting/**
!data/labels/
!data/labels/**
!data/__init__.py

# Other Data Formats
*.npy
*.csv
*.mp4
*.avi
*.mov
*.npz
*.parquet

# Checkpoints
*.pt
*.pth

# Allow shared/ to be tracked despite global ignores
!shared/
!shared/**